# Node
node_modules/
npm-debug.log
yarn-error.log

# Laravel
vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Angular
frontend/dist/
frontend/.angular/
frontend/.nx/

# Storage
backend/storage/logs/*
!backend/storage/logs/.gitkeep
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitkeep
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitkeep
backend/storage/framework/views/*
!backend/storage/framework/views/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
